# Variables de entorno
.env
.env.local

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Checkpoints de pytest
.pytest_cache/
